h3 {
    color: rgba(16, 15, 15, 0.776);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
  }
  .frame {
    padding-left: 100px;
    padding-right: 100px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .form {
    display: flex;
    justify-content: center;
  }
  
  form {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 40%;
    background-color: #ccc;
    display: grid;
    gap: 20px;
  }
  .name {
    display: grid;
  }
  .address {
    display: grid;
  }
  .phone {
    display: grid;
  }
  .course {
    display: grid;
  }
  
  label {
    font: bold;
    color: #555;
  }
  
  input {
    height: 30px;
    border: none;
    border-radius: 3px;
  }
  button {
    border-radius: 3px;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
  }

  select{
    border: none;
    border-radius: 3px;
  }
  
  /* body
  {
    margin:0;
    padding:0;
    background:#262626;
  }
  .ring
  {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:150px;
    height:150px;
    background:transparent;
    border:3px solid #3c3c3c;
    border-radius:50%;
    text-align:center;
    line-height:150px;
    font-size:1.3rem;
    color:#fff000;
    letter-spacing:4px;
    text-transform:uppercase;
    text-shadow:0 0 10px #fff000;
    box-shadow:0 0 20px rgba(0,0,0,.5);
  }
  .ring:before
  {
    content:'';
    position:absolute;
    top:-3px;
    left:-3px;
    width:100%;
    height:100%;
    border:3px solid transparent;
    border-top:3px solid #fff000;
    border-right:3px solid #fff000;
    border-radius:50%;
    animation:animateC 2s linear infinite;
  }
  .one
  {
    display:block;
    position:absolute;
    top:calc(50% - 2px);
    left:50%;
    width:50%;
    height:4px;
    background:transparent;
    transform-origin:left;
    animation:animate 2s linear infinite;
  }
  .one:before
  {
    content:'';
    position:absolute;
    width:16px;
    height:16px;
    border-radius:50%;
    background:#fff000;
    top:-6px;
    right:-8px;
    box-shadow:0 0 20px #fff000;
  }

  .two
  {
    display:block;
    position:absolute;
    top:calc(50% - 2px);
  left:50%;
    width:50%;
    height:4px;
    background:transparent;
    transform-origin:left;
    animation:animate 2s linear infinite;
  }

  .two:before
  {
    content:'';
    position:absolute;
    width:16px;
    height:16px;
    border-radius:50%;
    background:black;
    top:0px;
    right:142px;
    box-shadow:0 0 20px #fff000;
  }


  @keyframes animateC
  {
    0%
    {
      transform:rotate(0deg);
    }
    100%
    {
      transform:rotate(360deg);
    }
  }
  @keyframes animate
  {
    0%
    {
      transform:rotate(45deg);
    }
    100%
    {
      transform:rotate(405deg);
    }
  } */