
<div class="frame">
    <div class="body">
<div class="frame1">
    <h3>Students List</h3>
</div>
<div class="frame2">
<button class="add" routerLink="add">ADD Student</button>
<input class="search" (keyup)="search($event)"  placeholder ="search" ></div>

<div class="frame3">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let item of this.items">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.number}}</td>
            <td>{{item.course}}</td>
            <td><button class="update" routerLink="update" (click)="update(item.id)">update</button> <button class="delete" (click)="delete(item.id)">Delete</button></td>
        </tr>
    </table>
    
       
</div>
<div class="pagination">
    <div class="first"> <button (click)="first()">First</button> </div>
    <div class="previous"> <button (click)="previous()">previous</button> </div>
    <div class="next"> <button (click)="next()">next</button> </div>
<div class="last" > <button (click)="last()">last</button> </div>  

</div>
</div>
</div>
